.header {
	font-size: 70pt;
	font-weight: bold;
	color: #777777;
	margin: 10px 50px 70px;
	text-align: left;
}

.gwt-Button-right {
	margin-top: 5px;
	float: right;
}

.gwt-TextBox-login {
	width: 140pt;
}

.gwt-PasswordTextBox-login {
	width: 140pt;
}