.header {
	font-size: 70pt;
	font-weight: bold;
	color: #777777;
	margin: 10px 50px 70px;
	text-align: left;
}

.boldText {
	margin: 5pt;
	font-weight: bold;
	text-align: center;
}

.categoryHeader {
	font-size: 30pt;
	font-weight: bold;
	color: #777777;
	margin: 60px 50px 20px;
	text-align: left;
}

.bordered {
	border: 1px solid silver;
	margin-bottom: 5pt;
}

.gwt-Anchor:link {
	font-size: 15pt;
	font-weight: bold;
	text-decoration: italic;
	color: black;
}

.gwt-Anchor:visited {
	font-size: 15pt;
	font-weight: bold;
	text-decoration: italic;
	color: black;
}

.gwt-Anchor:hover {
	font-size: 15pt;
	font-weight: bold;
	text-decoration: italic;
	color: black;
}

.gwt-Anchor:hover {
	font-size: 15pt;
	font-weight: bold;
	text-decoration: italic;
	color: black;
}

.gwt-Button-right {
	margin-top: 5px;
	float: right;
}

.gwt-TextBox-login {
	width: 140pt;
}

.gwt-PasswordTextBox-login {
	width: 140pt;
}

.gwt-TextBox-register {
	width: 150pt;
}

.gwt-PasswordTextBox-register {
	width: 150pt;
}

.gwt-ListBox-wide {
	width: 150pt;
}

.gwt-TextBox-error {
	width: 150pt;
	border-color: #FF0000;
	background-color: #FF9999;
}

.gwt-PasswordTextBox-error {
	width: 150pt;
	border-color: #FF0000;
	background-color: #FF9999;
}